.button {
  margin-left: 0.3em;
  color: #0d3b66;
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: #f4d35e;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(69, 68, 68, 0.1);
}
button {
  border: none;
  background-color: transparent;
}
.button:hover {
  background-color: #faf0ca;
}

.button > img {
  justify-content: center;
  align-items: center;
}
