.box {
  justify-content: center;
  background-color: #fafafa;
  align-items: center;
  width: 17em;
  min-height: 14em;
  max-height: 25em;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
  border-radius: 1em;
  margin-bottom: 2em;
  padding: 0.2em;
}
.card {
  padding: 0.6em;
  text-align: center;
}
.cardImage > img {
  width: 100%;
  min-height: 12.5em;
  max-height: 12.5em;
}
.cardName {
  font-weight: bold;
}
.box:hover {
  transition: transform 0.4s;
  transform: scale(110%);
}
.price {
  font-weight: bold;
  color: red;
}
.description {
  max-height: 4em;
  font-size: 0.8rem;
  overflow: hidden;
}
