.footer {
  background-color: #f4d35e;
  width: 100%;
  padding: 0 7.5%;
  min-height: fit-content;
  background: #f4d35e;
  margin-top: auto;
  bottom: 0;
  color: #0d3b66;
  padding-bottom: 0.5em;
}

.footer__logo > img {
  padding-top: 1rem;
  width: 3em;

  border-radius: 90%;
}
.footer__contents__middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.footer__subcontainer {
  padding-top: 0.1em;
  font-size: 1rem;
}
.footer__subcontainer {
  text-decoration: none;

  color: #0d3b66;
}
.footer__contents__middle__sub_Container > .subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.3em;
}
.footer__contents__bottom {
  padding-top: 0.5em;
  justify-content: center;
  align-items: center;
}
.footerlogoandtext {
  display: flex;
  cursor: pointer;
}
.footerlogoandtext > p {
  margin-left: 0.5em;
}
