.homeBody,
.ourProducts,
.about {
  width: 70vw;
  margin: auto;
  background-color: #fafafa;
}

.video {
  width: 100%;
  object-fit: fill;
  height: 80vh;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products,
.ourproducts {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}
.products {
  max-height: 108em;
}
